.books-wrapper {


    .inner-container {
        padding: 20px;
        display: flex;
        gap: 11px;
        flex-direction: column;
    }

    .page-header {
        display: flex;
        align-items: center;

        h1 {
            color: #33363F;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .right {
            margin-left: auto;
            display: flex;
            padding: 5px;
            align-items: center;
            gap: 16px;

            .icons-wrapper {
                border-radius: 10px;
                background: #D5DAE4;
                display: flex;
                height: 34px;
                padding: 2px 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: #33363F;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: relative;

                .icon-wrapper {
                    cursor: pointer;
                    border-radius: 5px;
                    height: 24px;
                    width: 31px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.active {
                        background-color: #fff;
                    }

                    svg {
                        display: block;
                    }


                }

                .sort-filter-popup {
                    position: absolute;
                    right: -5px;
                    top: 50px;
                    border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                    padding: 15px;

                    .title-wrapper {
                        background: #EEEEF1;
                        display: flex;
                        padding: 10px 15px;
                        justify-content: space-between;
                        align-items: flex-start;
                        align-self: stretch;
                        margin-bottom: 15px;
                        align-items: center;

                        .close-icon {
                            cursor: pointer;
                        }

                        .title {
                            color: #33363F;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .clear {
                            color: #1476BD;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }

                    .sort-filter-column-wrapper {
                        display: flex;

                        .column {
                            gap: 10px;
                            display: flex;
                            flex-direction: column;

                            &:first-child {
                                border-right: 1px solid #EEEEF1;
                                padding-right: 10px;
                                margin-right: 10px;
                            }
                        }

                        .item {
                            display: flex;
                            white-space: nowrap;
                            gap: 10px;
                            cursor: pointer;
                            color: #000;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        &.filter {
                            .item {
                                flex-direction: column;
                                border-bottom: 1px solid #EEEEF1;
                                padding: 5px 15px 10px 15px;

                                &:last-child {
                                    border-bottom: 0;
                                }

                                .field {
                                    position: relative;
                                    padding: 10px 30px 10px 10px;
                                    background: #EEEEF1;
                                    border-radius: 5px;

                                    .dropdown-icon {
                                        position: absolute;
                                        right: 10px;
                                        top: 15px;
                                    }
                                }

                            }
                        }

                        .sort-icon-wrapper {
                            display: flex;
                        }
                    }
                }

                &.sort {
                    cursor: pointer;
                }
            }
        }
    }


}