.new-book-section {
    border-radius: 10px;
    background: #FFF;
    padding: 20px;
    margin-bottom: 60px;

    .title-wrapper {
        display: flex;
        align-items: center;

        .right {
            margin-left: auto;
        }

        margin-bottom: 15px;

        .link {
            color: #00B0AB;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            column-gap: 6px;
            display: flex;
            align-items: center;
        }
    }





}

.homepage.black {
    .new-book-section {
        background: #333333;

        .item {
            background-color: #3A3A3A;
        }
    }

    .book-detail {
        background-color: #3A3A3A;

        .title,
        .meta {
            color: #fff;
        }
    }
}