.search-wrapper {
    border-radius: 5px;
    background: #FFF;
    position: relative;
    max-width: 775px;
    margin: 0 auto;

    font-size: 14px;

    input {
        width: 100%;
        padding: 24px 20px 24px 46px;
    }

    .icon {
        position: absolute;
        left: 18px;
        top: 23px;
    }

    .search-input-wrapper {
        position: relative;

        .close-btn {
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }
    }

    .search-dropdown {
        position: absolute;
        left: 0;
        top: 61px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background: #FFF;
        padding: 10px 20px;
        z-index: 2;

        .tab-wrapper {
            display: flex;
            gap: 10px;
            border-bottom: 2px solid #F3F4F5;

            li {
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                gap: 5px;
                cursor: pointer;
                padding: 0 5px 8px;
                border-bottom: 2px solid transparent;
                margin-bottom: -2px;

                &.active {
                    border-bottom: 2px solid #00B0AB;
                    font-weight: 700;
                }

                span {
                    border-radius: 5px;
                    background: #EEEEF1;
                    color: #83839B;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 2px 5px;
                }
            }
        }

        .results {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;


            li {
                display: flex;
                align-items: center;
                gap: 10px;
                border-bottom: 1px solid #EEEEF1;
                padding: 10px;
                cursor: pointer;


                &:hover {
                    background-color: #f8f8f8;
                }

                &:last-child {
                    border-bottom: 0;
                }

                .result-title {
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    span {
                        font-weight: 700;
                    }
                }

                .category {
                    border-radius: 5px;
                    background: #EEEEF1;
                    color: #000;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 2px 5px;
                }
            }
        }
    }
}

.homepage.black {

    .search-wrapper .icon,
    .close-btn svg {
        * {
            stroke: #fff;
        }
    }

    .search-wrapper input {
        color: #fff;
    }

    .search-wrapper,
    .search-dropdown {
        background: #3A3A3A;
    }

    .search-dropdown {
        .tab-wrapper {
            border-bottom-color: #464646;

            li {
                color: #fff;
            }
        }

        .results li {
            border-bottom-color: #494949;

            &:hover {
                background-color: #303030;
            }

            .result-title {
                color: #fff;
            }
        }
    }

}