.media-detail-wrapper {
    max-width: 1123px;
    padding: 60px 20px;
    margin: 0 auto;

    .media-image-title-wrapper {
        display: flex;
        gap: 45px;
        max-width: 880px;
        margin: 0 auto;
        align-items: flex-start;

        .image-wrapper {

            position: relative;
            box-shadow: -14px 15px 30px 10px rgba(0, 0, 0, 0.25);
            min-width: 360px;
            height: 426px;
            border-radius: 20px;
            overflow: hidden;
            position: relative;

            .v-responsive {
                max-height: none;
                overflow: visible;
            }

            img {

                height: 426px;
                object-fit: cover;
            }

            .player-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 68px;
                height: 68px;

                svg {
                    width: 100%;

                }
            }
        }

        .title-wrapper {
            width: 100%;
            padding-top: 17px;

            h1 {
                color: #33363F;
                font-size: 52px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 2px;
            }

            .subtitle {
                color: #33363F;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .media-detail-section {
        border-radius: 10px;
        background: #FFF;
        padding: 60px 100px;
        margin-top: -290px;

        .description-wrapper {
            padding-left: 413px;
        }

        .description {
            color: #33363F;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            margin-bottom: 20px;
            /* 22.4px */
        }

        .button-wrapper {
            display: flex;
            justify-content: flex-start;
        }

        .primary-button {
            display: flex;
            padding: 11px 15px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 5px;
            background: #00B0AB;
            cursor: pointer;
        }

    }
}