.terms-condition-page {
    padding: 50px 0;

    .title-wrapper {
        text-align: center;
        margin-bottom: 20px;

        h1 {
            color: #33363F;

            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .dropdown-wrapper {
            border-radius: 10px;
            background: #D5DAE4;
            position: relative;
            padding: 5px 10px;
            column-gap: 10px;
            display: flex;
            align-items: center;
        }
    }

    .container {
        max-width: 733px;
        margin: 0 auto;
    }

    .accordion {
        margin: 30px auto;
        border-radius: 5px;
    }

    .accordion-item {
        border-bottom: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        background-color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .accordion-header {
        border-bottom: 1px solid #EEEEF1;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        color: #33363F;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .accordion-content {
        padding: 10px;

        color: #33363F;
        background-color: #fff;
        border-radius: 10px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160.2%;

        /* Hidden by default */
    }
}