.bookItem {
    border-radius: 10px;
    background: #FFF;
    max-width: 186px;
    flex: 1;

    .image-wrapper {
        border-radius: 10px 10px 0px 0px;
        background: #DAEFFF;
        padding: 10px;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;

        .v-responsive__sizer {
            display: none;
        }

        .v-img {
            overflow: visible;
        }

        img {
            width: 133px;
            height: 187px;
            object-fit: cover;
            display: block;
            margin: 0 auto;
            position: static;
            box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
        }


    }

    .book-detail {
        border-radius: 0px 0px 10px 10px;
        background: #FFF;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        padding: 10px 15px;
    }

    .meta-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        align-self: stretch;
    }

    .title {
        color: #33363F;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 6px;
    }

    .meta {

        color: #4B556A;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .label {
            font-weight: 700;
        }

        .avail-value {
            border-radius: 3px;
            background: #CAFDFB;
            color: #00B0AB;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: inline-block;
            padding: 2px 5px;
        }
    }
}